/*
Theme Name: Interview 2
Theme URI: http://underscores.me/
Author: Interview
Author URI: http://Interview.com
Description: Interview
Version: 2.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: interview
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Interview is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
	## Asides
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* line 1, sass/_normalize.scss */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 7, sass/_normalize.scss */
body {
  margin: 0;
}

/* line 22, sass/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

/* line 29, sass/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

/* line 34, sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 40, sass/_normalize.scss */
[hidden],
template {
  display: none;
}

/* line 44, sass/_normalize.scss */
a {
  background-color: transparent;
}

/* line 49, sass/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 53, sass/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 58, sass/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 62, sass/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 66, sass/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 71, sass/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 76, sass/_normalize.scss */
small {
  font-size: 80%;
}

/* line 81, sass/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 88, sass/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 92, sass/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 96, sass/_normalize.scss */
img {
  border: 0;
}

/* line 100, sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 104, sass/_normalize.scss */
figure {
  margin: 1em 40px;
}

/* line 108, sass/_normalize.scss */
hr {
  box-sizing: content-box;
  height: 0;
}

/* line 113, sass/_normalize.scss */
pre {
  overflow: auto;
}

/* line 120, sass/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 129, sass/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

/* line 135, sass/_normalize.scss */
button {
  overflow: visible;
}

/* line 140, sass/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 147, sass/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 153, sass/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 158, sass/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 163, sass/_normalize.scss */
input {
  line-height: normal;
}

/* line 168, sass/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 174, sass/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 178, sass/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

/* line 184, sass/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 188, sass/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 194, sass/_normalize.scss */
legend {
  border: 0;
  padding: 0;
}

/* line 199, sass/_normalize.scss */
textarea {
  overflow: auto;
}

/* line 203, sass/_normalize.scss */
optgroup {
  font-weight: bold;
}

/* line 207, sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 213, sass/_normalize.scss */
td,
th {
  padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
/* line 5, sass/typography/_typography.scss */
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}

/* line 1, sass/typography/_headings.scss */
h1, h2, h3, h4, h5, h6 {
  clear: both;
}

/* line 1, sass/typography/_copy.scss */
p {
  margin-bottom: 1.5em;
}

/* line 5, sass/typography/_copy.scss */
dfn, cite, em, i {
  font-style: italic;
}

/* line 9, sass/typography/_copy.scss */
blockquote {
  margin: 0 1.5em;
}

/* line 13, sass/typography/_copy.scss */
address {
  margin: 0 0 1.5em;
}

/* line 17, sass/typography/_copy.scss */
pre {
  background: #eeeeee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

/* line 28, sass/typography/_copy.scss */
code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem;
}

/* line 33, sass/typography/_copy.scss */
abbr, acronym {
  border-bottom: 1px dotted #666666;
  cursor: help;
}

/* line 38, sass/typography/_copy.scss */
mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

/* line 43, sass/typography/_copy.scss */
big {
  font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
/* line 1, sass/elements/_elements.scss */
html {
  box-sizing: border-box;
}

/* line 7, sass/elements/_elements.scss */
*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

/* line 11, sass/elements/_elements.scss */
body {
  background: white;
  /* Fallback for when there is no custom background color defined. */
}

/* line 15, sass/elements/_elements.scss */
blockquote, q {
  quotes: "" "";
}
/* line 19, sass/elements/_elements.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 24, sass/elements/_elements.scss */
hr {
  background-color: #cccccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

/* line 1, sass/elements/_lists.scss */
ul, ol {
  margin: 0 0 1.5em 3em;
}

/* line 5, sass/elements/_lists.scss */
ul {
  list-style: disc;
}

/* line 9, sass/elements/_lists.scss */
ol {
  list-style: decimal;
}

/* line 14, sass/elements/_lists.scss */
li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

/* line 19, sass/elements/_lists.scss */
dt {
  font-weight: bold;
}

/* line 23, sass/elements/_lists.scss */
dd {
  margin: 0 1.5em 1.5em;
}

/* line 33, sass/elements/_elements.scss */
img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

/* line 1, sass/elements/_tables.scss */
table {
  margin: 0 0 1.5em;
  width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
/* line 4, sass/forms/_buttons.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #cccccc #cccccc #bbbbbb;
  border-radius: 3px;
  background: #e6e6e6;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
  padding: .6em 1em .4em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
/* line 16, sass/forms/_buttons.scss */
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #cccccc #bbbbbb #aaaaaa;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}
/* line 22, sass/forms/_buttons.scss */
button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
  border-color: #aaaaaa #bbbbbb #bbbbbb;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

/* line 6, sass/forms/_fields.scss */
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  color: #666666;
  border: 1px solid #cccccc;
  border-radius: 3px;
}
/* line 11, sass/forms/_fields.scss */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  color: #111111;
}

/* line 20, sass/forms/_fields.scss */
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  padding: 3px;
}

/* line 24, sass/forms/_fields.scss */
textarea {
  padding-left: 3px;
  width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
/* line 1, sass/navigation/_links.scss */
a {
  color: royalblue;
}
/* line 4, sass/navigation/_links.scss */
a:visited {
  color: purple;
}
/* line 9, sass/navigation/_links.scss */
a:hover, a:focus, a:active {
  color: midnightblue;
}
/* line 12, sass/navigation/_links.scss */
a:focus {
  outline: thin dotted;
}
/* line 16, sass/navigation/_links.scss */
a:hover, a:active {
  outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
/* line 1, sass/navigation/_menus.scss */
.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%;
}
/* line 7, sass/navigation/_menus.scss */
.main-navigation ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
/* line 12, sass/navigation/_menus.scss */
.main-navigation ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  top: 1.5em;
  left: -999em;
  z-index: 99999;
}
/* line 20, sass/navigation/_menus.scss */
.main-navigation ul ul ul {
  left: -999em;
  top: 0;
}
/* line 26, sass/navigation/_menus.scss */
.main-navigation ul ul li:hover > ul {
  left: 100%;
}
/* line 31, sass/navigation/_menus.scss */
.main-navigation ul ul a {
  width: 200px;
}
/* line 42, sass/navigation/_menus.scss */
.main-navigation ul li:hover > ul {
  left: auto;
}
/* line 46, sass/navigation/_menus.scss */
.main-navigation li {
  float: left;
  position: relative;
}
/* line 53, sass/navigation/_menus.scss */
.main-navigation a {
  display: block;
  text-decoration: none;
}

/* Small menu. */
/* line 65, sass/navigation/_menus.scss */
.menu-toggle {
  display: none;
}

@media screen and (max-width: 600px) {
  /* line 71, sass/navigation/_menus.scss */
  .menu-toggle,
  .main-navigation.toggled .nav-menu {
    display: block;
  }

  /* line 75, sass/navigation/_menus.scss */
  .main-navigation ul {
    display: none;
  }
}
/* line 84, sass/navigation/_menus.scss */
.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
}
/* line 89, sass/navigation/_menus.scss */
.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}
/* line 94, sass/navigation/_menus.scss */
.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
/* line 2, sass/modules/_accessibility.scss */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
/* line 11, sass/modules/_accessibility.scss */
.screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
/* line 1, sass/modules/_alignments.scss */
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

/* line 7, sass/modules/_alignments.scss */
.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

/* line 13, sass/modules/_alignments.scss */
.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
/* line 12, sass/modules/_clearings.scss */
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
}

/* line 21, sass/modules/_clearings.scss */
.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
/* line 1, sass/site/secondary/_widgets.scss */
.widget {
  margin: 0 0 1.5em;
  /* Make sure select elements fit in widgets. */
}
/* line 5, sass/site/secondary/_widgets.scss */
.widget select {
  max-width: 100%;
}

/* Search widget. */
/* line 11, sass/site/secondary/_widgets.scss */
.widget_search .search-submit {
  display: none;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
/* line 1, sass/site/primary/_posts-and-pages.scss */
.sticky {
  display: block;
}

/* line 5, sass/site/primary/_posts-and-pages.scss */
.hentry {
  margin: 0 0 1.5em;
}

/* line 10, sass/site/primary/_posts-and-pages.scss */
.byline,
.updated:not(.published) {
  display: none;
}

/* line 15, sass/site/primary/_posts-and-pages.scss */
.single .byline,
.group-blog .byline {
  display: inline;
}

/* line 21, sass/site/primary/_posts-and-pages.scss */
.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

/* line 25, sass/site/primary/_posts-and-pages.scss */
.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
/* line 2, sass/site/primary/_asides.scss */
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
/* line 1, sass/site/primary/_comments.scss */
.comment-content a {
  word-wrap: break-word;
}

/* line 4, sass/site/primary/_comments.scss */
.bypostauthor {
  display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
/* line 3, sass/modules/_infinite-scroll.scss */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
/* line 8, sass/modules/_infinite-scroll.scss */
.infinity-end.neverending .site-footer {
  display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
/* line 3, sass/media/_media.scss */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
/* line 13, sass/media/_media.scss */
embed,
iframe,
object {
  max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
/* line 1, sass/media/_captions.scss */
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}
/* line 5, sass/media/_captions.scss */
.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 9, sass/media/_captions.scss */
.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

/* line 14, sass/media/_captions.scss */
.wp-caption-text {
  text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
/* line 1, sass/media/_galleries.scss */
.gallery {
  margin-bottom: 1.5em;
}

/* line 5, sass/media/_galleries.scss */
.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}
/* line 11, sass/media/_galleries.scss */
.gallery-columns-2 .gallery-item {
  max-width: 50%;
}
/* line 15, sass/media/_galleries.scss */
.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}
/* line 19, sass/media/_galleries.scss */
.gallery-columns-4 .gallery-item {
  max-width: 25%;
}
/* line 23, sass/media/_galleries.scss */
.gallery-columns-5 .gallery-item {
  max-width: 20%;
}
/* line 27, sass/media/_galleries.scss */
.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}
/* line 31, sass/media/_galleries.scss */
.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}
/* line 35, sass/media/_galleries.scss */
.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}
/* line 39, sass/media/_galleries.scss */
.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

/* line 44, sass/media/_galleries.scss */
.gallery-caption {
  display: block;
}

/* line 108, sass/style.scss */
.hfeed {
  width: 900px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #333;
}

/* line 114, sass/style.scss */
.single-property .entry-content p {
  color: #CC0000;
}

/* line 117, sass/style.scss */
#primary #main img {
  float: left;
  width: 400px;
  margin: 20px 0;
}

/* line 122, sass/style.scss */
body.interview h3 {
  font-size: 23px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 128, sass/style.scss */
  body.interview h3 {
    font-size: 20px;
  }

  /* line 131, sass/style.scss */
  #primary #main img {
    width: 100%;
    float: none;
  }

  /* line 135, sass/style.scss */
  .hfeed {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  /* line 140, sass/style.scss */
  #primary #main img {
    float: none;
    width: 100%;
  }

  /* line 144, sass/style.scss */
  body.interview h3 {
    font-size: 18px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 149, sass/style.scss */
  .hfeed {
    width: 100%;
    padding: 20px;
  }

  /* line 153, sass/style.scss */
  .single-property .entry-content p {
    color: #000000;
  }
}
