/*
Theme Name: Interview 2
Theme URI: http://underscores.me/
Author: Interview
Author URI: http://Interview.com
Description: Interview
Version: 2.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: interview
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Interview is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
	## Asides
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
@import "variables-site/variables-site";
@import "mixins/mixins-master";

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
@import "normalize";

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import "typography/typography";

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
@import "elements/elements";

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
@import "forms/forms";

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
@import "navigation/navigation";

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
@import "modules/accessibility";

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
@import "modules/alignments";

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
@import "modules/clearings";

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
@import "site/secondary/widgets";

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
@import "site/site";

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
@import "modules/infinite-scroll";

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
@import "media/media";

.hfeed {
	width:900px;
	margin:0 auto;
	padding:20px;
	border:1px solid #333;
}
.single-property .entry-content p {
	color:#CC0000;
}
#primary #main img {
	float:left;
	width:400px;
	margin:20px 0;
}
body.interview h3 {
	font-size:23px;
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
	body.interview h3 {
		font-size:20px;
	}
	#primary #main img {
		width:100%;
		float:none;
	}
	.hfeed {
		width:100%;
	}
}
@media only screen and (max-width: 767px) {
	#primary #main img {
		float:none;
		width:100%;
	}
	body.interview h3 {
		font-size:18px;
	}
}
@media only screen and (max-width: 480px) {
	.hfeed {
		width:100%;
		padding:20px;
	}
	.single-property .entry-content p {
		color:#000000;
	}
}